<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benő chat</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div id="background"></div>
    <div id="leftSidebar">
        <div id="sidebarTitle">Available</div>
        <div id="sbUserWrapper">
            <% var i = 0; for(i=0;i<users.length;++i){ %>
             <div class="sbUser"><%= users[i]['username'] %></div>
             <% } %>
        </div>
    </div>
    <div id="mainPanel">
        <div id="panelHead">
            <div id="panelUsername">Username</div>
        </div>
        <div id="msgMain">
        </div>
        <div id="msgForm">
            <form method="post">
                <input type="text" name="msgInput" id="msgInput" autocomplete="off">
                <button type="submit" id="msgSend">Küldés</button>
            </form>
        </div>
    </div>
    
    
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
 }
    $(function () {
      var socket = io();
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        var messageJSON = {
          sessID: '<%=sessID%>',
          text: $('#msgInput').val()
        };
        messageJSON = JSON.stringify(messageJSON);
        socket.emit('chat message', messageJSON);
        $('#msgInput').val('');
        return false;
      });
      var type = "user";
      socket.on('chat message', function(msg){
        var resp = JSON.parse(msg);
        console.log(resp);
        '<%=userObj.username%>' == resp.sender ? type = 'user' : type = 'foreign';
        $('#msgMain').append(
          '<div class="'+type+' message">'+
          '<div class="messageSender">' + resp.sender + '</div>' +
          '<div class="messageText">' +
          escapeHtml(resp.text) +
          '</div>');
      });
    });
  </script>
</body>

</html>