<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benő chat</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div id="msgContainer">
    <%= console.log(userObj.username) %>
    </div>
    <div id="sendContainer">
        <form action="">
            <input id="message" autocomplete="off" /><button>Send</button>
          </form>
    </div>
    
    
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
 }
    $(function () {
      var socket = io();
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        var messageJSON = {
          sessID: '<%=sessID%>',
          text: $('#message').val()
        };
        messageJSON = JSON.stringify(messageJSON);
        socket.emit('chat message', messageJSON);
        $('#message').val('');
        return false;
      });
      var type = "user";
      socket.on('chat message', function(msg){
        var resp = JSON.parse(msg);
        console.log(resp);
        '<%=userObj.username%>' == resp.sender ? type = 'user' : type = 'other';
        $('#msgContainer').append(
          '<div class="'+type+'Msg">'+
          '<div class="sender">' + resp.sender + '</div>' +
          '<div class="msgBody">' +
          escapeHtml(resp.text) +
          '</div>');
      });
    });
  </script>
</body>

</html>