<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Benő chat</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
    <div id="background"></div>
    <div id="leftSidebar">
        <div id="sidebarTitle">Available</div>
        <div id="sbUserWrapper">
            <% var i = 0; for(i=0;i<users.length;++i){ %>
             <div class="sbUser"><%= users[i]['username'] %></div>
             <% } %>
        </div>
    </div>
    <div id="mainPanel">
        <div id="panelHead">
            <div id="panelUsername">Username</div>
        </div>
        <div id="msgMain">
        <a id="spotifyLogin" href="#">Login</a>
        <div id="emojiContainer">
        </div>
        </div>
        <div id="msgForm">
            <form method="post">
                <input type="text" name="msgInput" id="msgInput" autocomplete="off">
                <i class="far fa-smile" id="emojiBtn"></i>
                <button type="submit" id="msgSend" >Küldés</button>
            </form>
        </div>
    </div>
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src ="../static/js/spotify.js"></script>
<script type="text/javascript" src="../static/js/emojis.js"></script>
<script>
$('#panelUsername').html('Loged in as: ' + '<%=userObj.username%>');
    //const ps = new PerfectScrollbar('#sbUserWrapper');
   // const container = document.querySelector('#msgMain');
    //const ps = new PerfectScrollbar(container);
    function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
 }

 function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $(function () {
      var socket = io();
      $('form').submit(function(e){
        e.preventDefault(); // prevents page reloading
        if($('#msgInput').val() != ""){
        var messageJSON = {
          sessID: '<%=sessID%>',
          text: $('#msgInput').val()
        };
        messageJSON = JSON.stringify(messageJSON);
        socket.emit('chat message', messageJSON);
        $('#msgInput').val('');
        return false;
        }
      });
      var type = "user";
      socket.on('chat message', function(msg){
        var resp = JSON.parse(msg);
        '<%=userObj.username%>' == resp.sender ? type = 'foreign' : type = 'user';
        $('#msgMain').append(
          '<div class="'+type+' message">'+
          '<div class="messageSender">' + resp.sender + '</div>' +
          '<div class="messageText">' +
          resp.text +
          '</div>');
          $('#msgMain').children('.message').last().animate({marginLeft: 0, marginRight: 0},300,"swing", function(){});
      });
      socket.on('user connected', function(res){
      var logedInUsersText = "";
          var i = 0;
          for(i = 0; i < res.length; ++i){
            logedInUsersText += '<div class="sbUser">' + res[i] + '</div>';
          }
        $('#sbUserWrapper').html(logedInUsersText);
      });

/* Spotify integration */
/****************************************************************/
/****************************************************************/
  $.each(emojidata, function(){
      var emojiHtml = "<div class='emojiItem' data-emojistring='" + this + "'>" + this + "</div>";
      $("#emojiContainer").append(emojiHtml);
  });

  $("#emojiBtn").click(function(){
    $("#emojiContainer").toggleClass("emojiHeight");
  });

  $('#emojiContainer').click(function(event){
    event.stopPropagation();
  });

  $("#msgMain").click(function(){
    if($("#emojiContainer").hasClass("emojiHeight")){
      $("#emojiContainer").toggleClass("emojiHeight");
    }
  });

  $(".emojiItem").click(function(){
    $('#msgInput').val($('#msgInput').val() + $(this).attr("data-emojistring"));
  });

    socket.on('spotifyUrl', function(data) {
      $("#spotifyLogin").attr("href",data);
      var code = getParameterByName('code');
      socket.emit('spotifyCode', { x: code});
    });

    /* Random háttér flickr-ről */
    /*****************************************************************************/
   /*  $.getJSON("http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?",
        {
            tags: 'cute dog',
            tagmode: "any",
            format: "json"
        },
        function(data) {
            var rnd = Math.floor(Math.random() * data.items.length);

            var image_src = data.items[rnd]['media']['m'].replace("_m", "_b");

            $('#background').css('background-image', "url('" + image_src + "')");

        }); */






    });
</script>
</body>

</html>