<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="loginBody">
        <div id="loginInputWrapper">
            <div id="loginTitle">Chammt</div>
            <form method="post" id="loginForm">
                <label for="loginUser">Username</label>
                <input type="text" name="username" id="loginUser">
                <label for="loginPass">Password</label>
                <input type="password" name="password" id="loginPass">
                <button type="submit" class="btn" id="loginBtn">Login</button>
                <a href="/register"><div class="register formSelect">I want to register ></div></a>
            </form>
        </div>

    </div>
</body>
</html>