<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="loginBody">
        <div id="loginInputWrapper">
            <div id="loginTitle">Chammt</div>
            <form action="post" id="loginForm">
                <label for="loginUser">Username</label>
                <input type="text" name="username" id="loginUser">
                <label for="registerEmail" class="register hidden">Email</label>
                <input type="text" name="email" id="registerEmail" class="register hidden">
                <label for="loginPass">Password</label>
                <input type="password" name="password" id="loginPass">
                <label for="registerRePass" class="register hidden">Re-password</label>
                <input type="text" name="re-password" id="registerRePass" class="register hidden">
                <button type="submit" class="btn" id="loginBtn">Login</button>
                <div class="register formSelect">I want to register ></div>
                <div class="login hidden formSelect">I want to log in ></div>
            </form>
        </div>

    </div>

    <script>
        $(document).ready(function(){
            $('.register').click(function(){
                $('.register').toggleClass('hidden');
                $('.login').toggleClass('hidden');
                $('#loginBtn').html("Register");
            });
            $('.login').click(function(){
                $('.register').toggleClass('hidden');
                $('.login').toggleClass('hidden');
                $('#loginBtn').html("Login");
            });
        });
    </script>
</body>
</html>