<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="loginBody">
        <div id="loginInputWrapper">
            <div id="loginTitle">MyChat</div>
            <form method="post" id="loginForm">
                <label for="regUser">Username</label>
                <input type="text" name="regUser" id="regUser">
                <label for="registerEmail">Email</label>
                <input type="text" name="registerEmail" id="registerEmail">
                <label for="regPass">Password</label>
                <input type="password" name="regPass" id="regPass">
                <label for="registerRePass">Re-password</label>
                <input type="password" name="regRePassword" id="registerRePass">
                <a href="/register"><button type="submit" class="btn" id="regBtn">Register</button></a>
                <a href="/login"><div class="formSelect">I want to log in ></div></a>
            </form>
        </div>
        <%- include('error') %>
    </div>
</body>
</html>